@import url("https://cdn.syncfusion.com/ej2/material.css");



.App {
  background-color: #EDF2F8;
padding-left: 10px;
padding-right: 10px;
height: 100vh;
}
.main-dashboard-sitting{
  /* display: flex; */

}

#wrapper {
  display: flex;
}

#cennt{
  text-align: center;
}

#wrapper #content-wrapper {
  width: 100%;
  /* overflow-x: hidden; */
}





@media screen and (min-width: 1200px) and (max-width: 2000px) {
  #set-width{
    max-width: 100%;
  }
  #wrapper #content-wrapper #content {
    flex: 5 0 auto;
  }
  
  
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
  #wrapper #content-wrapper #content {
    flex: -1 0 auto;
  }

}


.d-flex {
  display: flex!important;
}
.flex-column {
  flex-direction: column!important;
}



.header{
 padding: 5px;
}

.inputsearch{
  background-color: white;
  border-radius: 100px;
  border: 1px solid gray;
  margin-left: 20px;
  height: 25px;
  padding-left: 6px;
  margin-top: 6px;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(216, 226, 238, 1);
  margin-left: 3p0x;

}
.sub-header{
  display: flex;
  justify-content: space-between;
}

ul{
list-style: none;
}
.textdec a{
  text-decoration: none;

}



ul li a{
display: block;
text-decoration: none;
width: auto;
list-style: none;

}

ul li a:hover{
  list-style: none;

}

ul li ul.dropdown li{
  display: block;
  text-decoration: none;

}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;

}

ul li:hover ul.dropdown {
  display: contents;
}


.sidemenumain{
  height: 100vh;
  width: 200px;
}

.rightmaindiv{
  background-color: #F9FAFD;
padding: 0px;
margin-top: 20px;
padding-bottom: 10px;
border-radius: 10px;

}

.maininp{
  display: flex;
  margin-top: 30px;
  margin-left: 15px;

}

.inpdoc{
 width: 393px;
 border: 1px solid rgba(216, 226, 238, 1);
 border-radius: 10px;
 padding-top: 05px;
 padding-left: 05px;
 flex: 1;


}

.firstdiv{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;

}

.specialdoc{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.rightspecialdoc{
  background-color: #F9FAFD;
/* padding: 0px; */
margin-top: 20px;
margin-bottom: 20px;
border-radius: 10px;
}

.secdiv{
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;


}



.thirddiv{
  margin-top: 40px;
  background-color: white;
  border-radius: 10px; 
  margin-bottom: 80px;
  margin-left: 15px;
margin-right: 15px;
  

}

.docimages{
  display: flex;
  justify-content: space-between;
}

.backbtn{
  background-color: rgba(54, 58, 96, 1);
  color: white;
  padding: 03px 30px;
  border: none;
}

.backbtn1{
  background-color: rgba(0, 190, 174, 1);

  color: white;
  padding: 05px 30px;
  border: none;
  border-radius: 05px;

}
.backbtn1:hover{
  background-color: rgba(54, 58, 96, 1);

}

.nextbtn1{
  background-color: rgba(54, 58, 96, 1);
  color: white;
  padding: 05px 30px;
  border: none;
  border-radius: 05px;
}
.nextbtn1:hover{

  background-color: rgba(0, 190, 174, 1);
  /* border: 1px solid black; */
  color: black;
  border-radius: 5px;
}

.nextbtn:hover{
  background-color: rgba(54, 58, 96, 1);
  /* border: 1px solid black; */
  color: white;
}

.nextbtn{
background: none;
  background-color: rgba(0, 190, 174, 1);
  padding: 03px 30px;
  border: none;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
}



.btn10{
  color: white;
}
.btn10:hover{
  color: black;
  background-color: rgba(54, 58, 96, 1);
  /* border: 1px solid black; */
  color: white;

}
.nextbtn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition:  transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  
}
.btn10::before{
  transform: scaleX(0);
  
}
.btn10:hover::before{
  transform: scaleX(1);
  /* height: 180%; */

}




.btnssec{
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 15px;
border-radius: 10px;
}

.search{
  margin-top: 20px;
  margin-left: 10px;
}

.searchinp{
  margin-left: 10px;
  border: 1px solid rgba(216, 226, 238, 1);
  border-radius: 05px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85%;

}

.searchinp1{
  margin-left: 10px;
  border: 1px solid rgba(216, 226, 238, 1);
  border-radius: 05px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 78%;

}

.searchbtn{
  background-color: rgba(0, 190, 174, 1);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 05px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 10px;
  margin-bottom: 40px;

}

.table{
  padding-left: 10px;
  padding-right: 10px;
}



.add-schedulebtn{
  background-color: rgba(0, 190, 174, 1);
  color: white;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 05px;
}


.emailinput{
  color:"gray";
  background-color: white;
  width: 100%;
  border: none;
  padding-top: 05px;
  padding-bottom: 05px;
  border-radius: 05px;
  padding-left: 10px;
}


.phoneinput{
  color:"gray";
  background-color: white;
  width: 100%;
  border: none;
  padding-top: 05px;
  padding-bottom: 05px;
  border-radius: 05px;
  padding-left: 10px;

}


.dobinp{
  color:"gray";
  background-color: white;
  width: 100%;
  border: none;
  padding-top: 05px;
  padding-bottom: 05px;
  border-radius: 05px;
  padding-left: 10px;
}


.gender{
  color:"gray";
  background-color: white;
  width: 95%;
  border: none;
  padding-top: 05px;
  padding-bottom: 05px;
  border-radius: 05px;
  padding-left: 10px;
  margin-left: 10px;
}


.editbtn{
  background-color: gray;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 05px;
}
.editbtn:hover{
  background-color: rgba(0, 190, 174, 1);

}

.bank{
  width: "70%";
  height: "70%" 
}
.bank:hover{
  width: 71%;
}

.emailh6{
  margin-top: 20px;
}

.phoneh6{
  margin-top: 20px;

}

.dobh6{
  margin-top: 20px;

}
.genderh6{
  margin-top: 20px;

}


#profilepatient{
  background-color: #F9FAFD;
  margin-top: 20px;
  border-radius: 10px;
  

}

#secpatient{
 background-color: white;
 border-radius: 05px; 
 /* margin-left: 10px; */
 /* margin-right: 10px; */
}

.cashdiv{
display: flex;
justify-content: space-between;  
}
.pay{
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.timepicker{
  text-align: center;
  justify-content: center;
  margin-left: 15px;
  width: 20%;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 05px;
  border: 1px solid rgba(216, 226, 238, 1);
}

.paysec1{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.paysec11{
  text-align: center;
  margin-bottom: 40px;
}
.imgsitting{
  margin-top: -136px;
}
.pdfbtn{
  border: 1px solid gray;
  border-radius: 05px;
  /* padding-right: 80px;
  padding-left: 80px; */
}

.pdfbtn1{
  width: 100%;
  border: 1px solid gray;
  border-radius: 05px;
  padding-right: 40px;
  padding-left: 40px;
}
.pdfbtn1:hover{
  background-color: rgba(0, 190, 174, 1);

}
.printbtn{
  width: 100%;
  border: 1px solid gray;
  border-radius: 05px;
margin-left: 10px;
/* padding-right: 120px;
padding-left: 120px; */
  
}
.printbtn:hover{

  background-color: rgba(54, 58, 96, 1);


}


#pdfprintbtn{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 140px;
}

.payp{
  text-align: center;
}


#invoicesec1{
  background-color: white;
  border-radius: 05px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

#order{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}


#invoicesec2{
  background-color: white;
  border-radius: 05px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

#invoicesec3{
  background-color: white;
  border-radius: 05px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.invoiceh6{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.note{
  padding-left: 15px;
}




/* Now here start from dropdown css */

.menu{
list-style: none;
padding: 0.2em 0.5em;
background-color: white;
border: 1px solid #363a43;
box-shadow: 0 0.5em 1em rgb(0, 0, 0,0.2);
border-radius: 0.5em;
position: absolute;
top: 3em;
left: 50%;
width: 100%;
transform: translateX(-50%);
opacity: 0;
display: none;
transition: 0.2s;
z-index: 1;
}

.menu li{
  cursor: pointer;
  margin: 10px 10px;
  padding: 10px 10px;
}

.menu-open{
  display: block;
  opacity: 1;
}
.mainchart{
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
}

.mainchart2{
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  height: 200px;
  text-align: -webkit-center;

}

.mainchart3{
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  height: 260px;
  text-align: -webkit-center;

}



.logininp{
  border-radius: 10px;
  border: 1px solid gray;
  padding-top: 07px;
  padding-bottom: 07px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;

}

.loginlogo{
  width: 100%;
}

/* .loginlogo{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 223%;
  left: 50%;
}


.mainlogininput{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

} */


.loginbtn{

border-radius: 10px;
padding: 05px 32px;
margin-top: 25px;
text-align: center;
border: 1px solid gray;
background-color: transparent;

}


.loginbtn:hover{

background-color: black;
color: white;


}




.calendarinp{
  /* text-align: center; */
 

}
.inpcal{
  padding-top: 05px !important;
  padding-bottom: 05px !important;
  border-radius: 05px;
  border: 1px solid gray;
  margin-top: 20px;
  width: 43 0px;

}

.datestart{
  padding-top: 05px !important;
  padding-bottom: 05px !important;
  border-radius: 05px;
  border: 1px solid gray;
  margin-top: 10px;
  padding-left: 10px;

}

.dateend{
  padding-top: 05px !important;
  padding-bottom: 05px !important;
  border-radius: 05px;
  border: 1px solid gray;
  margin-top: 10px;
  padding-left: 10px;

}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 18% !important;
}




/*================================= CSS OF INPUT FIELDS ======================================*/


.main-inputs-sec{
  display: flex;

}

.inp01{
  flex: 1;
    margin-right: 5px; /* Add margin to separate the input fields */
    padding: 5px;
    border: 1px solid #ccc;
}

.dropdown-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}



/*================================= END OF CSS OF INPUT FIELDS ======================================*/



@media screen and (min-width: 200px) and (max-width: 768px) {

.invoiceh6{
  display: block;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
#order {
  display: block;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

}


@media screen and (min-width: 200px) and (max-width: 992px) {


#pdfprintbtn{
  display: inline-block;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 140px;
}
#pdfff{
  margin-bottom: 20px;
}
#printt{
  display: flex;
  justify-content: center;
}
}

@media screen and (min-width: 600px) and (max-width: 2000px) {


#hide{
  display: none;
}

}

@media screen and (min-width: 50px) and (max-width: 600px) {

#upwidth{
  display: none;

}
.sidemenumain {
display: none;
}
.searchbtn {
  background-color: rgba(0, 190, 174, 1);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 05px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.btnssec {
  background-color: white;
  display: block;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-align: center;
}
.backbtn1 {
  background-color: rgba(0, 190, 174, 1);
  color: white;
  padding: 05px 30px;
  border: none;
  border-radius: 05px;
  margin-bottom: 20px;
}
}


.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem -1rem;
}




@media screen and (min-width: 50px) and (max-width: 1450px) {


#chart-none{
  display: none;
}



}



@media screen and (min-width: 50px) and (max-width: 600px) {


.logininp{
  border-radius: 10px;
  border: 1px solid gray;
  padding-top: 07px;
  padding-bottom: 07px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

}

.loginlogo{
margin-top: 100px;}
}